/*
* @Author: Administrator
* @Date:   2017-04-07 13:52:23
* @Last Modified by:   Administrator
* @Last Modified time: 2017-04-10 11:46:23
*/
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
	-webkit-text-size-adjust:none;
}
*{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 12px;
	/* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
	/* -webkit-appearance: none; */
	/* -webkit-text-size-adjust:100%; */
	/* -webkit-user-select:none; */
	/* -webkit-overflow-scrolling:touch; */
	/* -webkit-transform: translate3d(0, 0, 0); */
	/* transform: translate3d(0, 0, 0); */
	-webkit-user-select:none;
	user-select:none;
	/* -webkit-tap-highlight-color:rgba(255,255,255,0); */
	-webkit-text-size-adjust: 100%;
  	 text-size-adjust: 100%;
}
body{
 	font-family:Helvetica;
 	background: #F5F6FA;
}
a{
 	text-decoration: none;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body{
	overflow: scroll;
}
nav{
 	width: 100%;
 	height: 1.32rem;
 	background: #1D4D8B;
 	position:absolute;
 	top: 0;
 	left: 0;
 	text-align: justify;
 	line-height: 1.32rem;
 	padding: 0 0.6rem;
 	box-sizing: border-box;
 	z-index: 1000;
}
nav>a{
	color: #DCDFED; 
	font-size: 0.40rem;
	display: inline-block;
}
nav:after{
	content: "";
    display: inline-block;
	width: 100%;
}
/* banner图 */
header{
	width: 100%;
	height: 5.9rem;
	margin-top: 1.32rem;
	background-image: url('../img/quanzhan/qzbanner.png');
	background-position: 0 -1.2rem;
	background-size: cover;
	background-repeat: no-repeat;

}
.first{
	width: 100%;
	height: 2rem;
	background: #fff;
	box-shadow: 0 1px 10px 1px #ccc;
	background-image: url('../img/quanzhan/qztitleback.png');
	background-position: 0 0;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}
.first h1{
	text-align: center;
	font-size: 0.54rem;
	color: #383838;
	font-weight:bold;
	margin-top:-0.2rem;
	letter-spacing: 0.03rem;
}
.first h1>span{
	font-size: 0.54rem;
	color: #333333;
	text-align: center;
	font-weight:normal;
	text-align: center;
}
.first .xian{
	width: 8.15rem;
	height: 0.05rem;
	margin: 0.1rem auto;
	background-image: url('../img/quanzhan/qztitleline.png');
	background-size: cover;
	background-position: -1.5rem 0;
	background-repeat: no-repeat;
}

.first1 .xian{
	width: 8.15rem;
	height: 0.05rem;
	margin: 0 auto;
	background-image: url('../img/quanzhan/qztitleline.png');
	background-size: cover;
	background-position: -1.5rem 0;
	background-repeat: no-repeat;
}
.first2 .xian{
	width: 8.15rem;
	height: 0.05rem;
	margin: 0 auto;
	background-image: url('../img/quanzhan/qztitleline.png');
	background-size: cover;
	background-position: -1.5rem 0;
	background-repeat: no-repeat;
}






.first>span{
	font-size: 0.44rem;
	color: #707070;
	font-weight:lighter;
}
/* 中间的字 */
.center{
	width: 100%;
	height: 8.8rem;
	margin-top: 0.2rem;
	background-image: url('../img/quanzhan/qz1back.png');
	background-position: 0 0rem;
	background-size: cover;
	background-repeat: no-repeat;
}
.center>p{
	color: #575757;
	font-size: 0.36rem;
	text-align: center;
	margin-top: -0.2rem;
	line-height: 0.7rem;
}
.center>p>span{
	color: #3CA9F8;
	font-weight: bold;
}
/* 六大 */
.six{
	width: 100%;
	height: 7.5rem;
	background: #1B1D32;
	display: flex;
	flex-wrap: wrap;
	padding: 0.6rem 0.3rem 0.4rem 0.5rem;
	box-sizing: border-box;
}
.six>li{
	width: 	3.08rem;
	height: 3.03rem;
	background: url('../img/quanzhan/qzfw1.png') center center no-repeat;
	background-size: cover;
	margin-right: 0.3rem;
	text-align: center;
	padding: 0.5rem 0.1rem;
	box-sizing: border-box;
}
.six>li>span{
	display: block;
	color: #051119;
	font-size: 0.36rem;
	font-weight: bold;
}
.six>li>p{
	color: #4B3706;
	font-size: 0.36rem;
	text-align: center;
	margin-top: 0.2rem;
}
.six>li:nth-child(2){
	background: url('../img/quanzhan/qzfw2.png') center center no-repeat;
	background-size: cover;
}
.six>li:nth-child(3){
	margin-right: 0;
	background: url('../img/quanzhan/qzfw3.png') center center no-repeat;
	background-size: cover;
}
.six>li:nth-child(4){
	background: url('../img/quanzhan/qzfw4.png') center center no-repeat;
	background-size: cover;
}
.six>li:nth-child(5){
	background: url('../img/quanzhan/qzfw5.png') center center no-repeat;
	background-size: cover;
}
.six>li:nth-child(6){
	margin-right: 0;
	background: url('../img/quanzhan/qzfw6.png') center center no-repeat;
	background-size: cover;
}








/* 圆圈 */
.center_two{
	width: 100%;
	height: 10.35rem;
	position: relative;
	background: url('../img/quanzhan/bj.png') center center;
}
.center_two>div:nth-child(1){
	width: 1.32rem;
	height: 3.68rem;
	background: url('../img/quanzhan/qzzw1.png') center center no-repeat;
	background-size: contain;
	margin-top: 1.2rem;
}
.center_two>div:nth-child(2){
	width: 4rem;
	height: 3.9rem;
	background: url('../img/quanzhan/qzzw2.png')  0 0 no-repeat;
	background-size: contain;
	position: absolute;
	top: 2.7rem;
	left: 2.79rem;
}
.center_two>div:nth-child(3){
	width: 2.8rem;
	height: 2.6rem;
	background: url('../img/quanzhan/qzzw3.png') center center no-repeat;
	background-size: contain;
	position: absolute;
	top: 0.3rem;
	left: 5.16rem;
}
.center_two>div:nth-child(4){
	width: 1.98rem;
	height: 2.08rem;
	background: url('../img/quanzhan/qzzw4.png') center center no-repeat;
	background-size: contain;
	position: absolute;
	top: 6.08rem;
	left:8rem;
}
.center_two>div:nth-child(5){
	width: 2.65rem;
	height: 2.53rem;
	background: url('../img/quanzhan/qzzw5.png') center center no-repeat;
	background-size: contain;
	position: absolute;
	top: 5.2rem;
	left:0.3rem;
}
.center_two>div:nth-child(6){
	width: 2.85rem;
	height: 2.87rem;
	background: url('../img/quanzhan/qzzw6.png') center center no-repeat;
	background-size: contain;
	position: absolute;
	top: 7rem;
	left: 4.42rem;
}
.center_two>div:nth-child(7){
	width: 2.93rem;
	height: 2.93rem;
	background: url('../img/quanzhan/qzzw7.png') center center no-repeat;
	background-size: contain;
	position: absolute;
	top: 1.6rem;
	left: 7.48rem;
}
.center_two>div:nth-child(8){
	width: 0.86rem;
	height: 3.11rem;
	background: url('../img/quanzhan/qzzw8.png') center center no-repeat;
	background-size: contain;
	position: absolute;
	top: 4.37rem;
	right: 0rem;
}
.center_two>div:nth-child(9){
	width: 1.44rem;
	height: 1.44rem;
	background:#FF7616;
	position: absolute;
	border-radius: 50%;
	top: 3.6rem;
	left: 1.3rem;
}
.center_two>div:nth-child(10){
	width: 1.3rem;
	height: 1.3rem;
	background:#78E17A;
	position: absolute;
	border-radius: 50%;
	top: 4.28rem;
	left: 6.8rem;
}
.center_two>div:nth-child(11){
	width: 1.68rem;
	height: 1.68rem;
	background:#FF7575;
	position: absolute;
	border-radius: 50%;
	top: 6.66rem;
	left: 2.7rem;
}
.center_two>div:nth-child(12){
	width: 1.50rem;
	height: 1.50rem;
	background:#FED906;
	position: absolute;
	border-radius: 50%;
	top: 7.92rem;
	left: 1.24rem;
}
.center_two>div:nth-child(13){
	width: 1.52rem;
	height: 1.52rem;
	background:#8366FF;
	position: absolute;
	border-radius: 50%;
	top: 5.7rem;
	left: 6.51rem;
}
.center_two>div:nth-child(14){
	width: 0.76rem;
	height: 0.76rem;
	background:#FED906;
	position: absolute;
	border-radius: 50%;
	top: 5.23rem;
	left: 8.34rem;
}


/* 数据 */
.shu{
	width: 100%;
	height: 13rem;
	background: #1B1D32;	
}
.shu .top0{
	width: 4.5rem;
	height: 0.9rem;
	margin: 0 auto;
	margin-top: 0.35rem;
	border-bottom: 0.04rem dashed #fff;
	position: relative;
}
.shu .top0>h3{
	font-size: 0.4rem;
	color: #03B08C;
	font-weight: lighter;
	text-align: center;
}
.shu .top0 .shi{
	width:4.5rem;
	height: 0.04rem;
	background:#fff;
	position: absolute;
	top: 0.7rem;
	left: 0rem;
	z-index: 1000;
}
.shu .box1{
	width: 100%;
	height: 7.5rem;
	margin-top: 0.9rem;
	background-image: url('../img/quanzhan/qzbili.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0.1rem 0;
}
.shu .bottom{
	text-align: center;
	line-height: 0.5rem;
	font-size: 0.36rem;
	color: #C6CACD;
	margin-top: 0.2rem;
}
.shu .more{
	display: block;
	width: 4.5rem;
	height: 1.27rem;
	margin: 0 auto;
	margin-top: 0.8rem;
	background-image: url('../img/quanzhan/qzanniu.png');
	background-position:0 0;
	background-size:contain;
	background-repeat: no-repeat;
	color: #fff;
	text-align: center;
	line-height: 1.27rem;
	font-size: 0.38rem;
}



/* 就业学员信息 */
.xin{
	width: 100%;
	height: 8.60rem;	
}
.xin .top{
	width:10.02rem;
	height: 1rem;
	margin: 0 auto;
	margin-top: 0.2rem;
	display: flex;
}
 .xin .top>p:nth-child(1){
	width: 2rem;
	height: 100%;
	background: #49D8BC;
	border-radius: 4px;
}
.xin .top>p:nth-child(2){
	width: 2.65rem;
	height: 100%;
	background: #39CEB1;
	float: left;
	border-radius: 4px;
}
.xin .top>p:nth-child(3){
	width: 5.35rem;
	height: 100%;
	background: #22C4A4;
	float: left;
	margin-right: -0.48rem;
	border-radius: 4px;
} 
.xin .top>p{
	color: #FCFEFF;
	font-size: 0.36rem;
	text-align: center;
	line-height: 1rem;
}
.xin .bottom{
	width: 9.96rem;
	height: 5rem;
	background: #fff;
	border: 0.02px solid #1875FF;
	margin: 0 auto;
	margin-top: -0.1rem;
	display: flex;
	flex-wrap: wrap;
}
.xin .bottom>div{
	width: 100%;
	height: 1rem;
	display: flex;
}
.xin .bottom>div>p{
	background: #EEEEEE;
	overflow: hidden;
	text-overflow: ellipsis;
	height:100%;
	text-align: center;
	line-height: 1rem;
	font-size: 0.36rem;
}
.xin .bottom>div>p:nth-child(1){
	width: 2rem;
	color: #666;
}
.xin .bottom>div>p:nth-child(2){
	width: 2.65rem;
	color: #FEAF34;
}
.xin .bottom>div>p:nth-child(3){
	width: 5.35rem;
	border-radius: 4px;
	color: #666;
} 
.xin .bottom .p1>p{
	background: #F5F6FA;
}
.xin .more{
	display: block;
	width: 4.5rem;
	height: 1.27rem;
	margin: 0 auto;
	margin-top: 0.5rem;
	background-image: url('../img/quanzhan/qzanniu.png');
	background-position:0 0;
	background-size:contain;
	background-repeat: no-repeat;
	color: #fff;
	text-align: center;
	line-height: 1.27rem;
	font-size: 0.38rem;
}

/* 底部的六个 */
.sixyuan{
	width: 100%;
	height: 20rem;
	background: #1B1D32;
}
.sixyuan>li{
	width: 10.04rem;
	height: 2.2rem;
	margin: 0 auto;
	padding:0  0.5rem 0 0.3rem;
	position: relative;
	margin-bottom: 1.04rem;
}
@keyframes animation1{
	0%{transform: rotate(0deg);
	}
	100%{transform: rotate(360deg);
	}
}.sixyuan>li .left{
	width: 1.4rem;
	height: 1.4rem;
	margin-top:0.2rem;
	background: url('../img/quanzhan/yellow.png') center center no-repeat;
	background-size: cover;
	float: left;
	animation-name: animation1;
	animation-duration: 2s;
	animation-timing-function:linear;
	animation-iteration-count: infinite;
}
.sixyuan>li img{
	width: 1.4rem;
	height: 1.4rem;
	position: absolute;
	top:0.2rem;
	left: 0.3rem;
}
.sixyuan>li>span{
	display: block;
	width: 8.42rem;
	color: #E99313;
	font-size: 0.38rem;
	margin-left: 1.8rem;
	margin-top: -0.1rem;
	position: absolute;
	top: 0.3rem;
	left: 0.4rem;
}
.sixyuan>li .xian{
	width: 9rem;
	height: 0.04rem;
	border-bottom: 0.04rem dashed #E99313;
	margin-left: 1.4rem;
	position: absolute;
	top: 0.8rem;
	left: 0.2rem;
}
.sixyuan>li p{
	width: 8.42rem;
	color: #E99313;
	font-size: 0.38rem;
	line-height: 0.51rem;
	color: #DBDBDE;
	font-size: 0.36rem;	
	margin-left: 1.8rem;
	margin-top: 0.35rem;
	word-break: break-all;
	position: absolute;
	top: 0.7rem;
	left: 0.4rem;
	font-weight: lighter;
}

.sixyuan>li:nth-child(2) .left{
	background: url('../img/quanzhan/red.png') center center no-repeat;
	background-size: cover;
	animation-name: animation1;
	animation-duration: 2s;
	animation-timing-function:linear;
	animation-iteration-count: infinite;
}
.sixyuan>li:nth-child(2) .xian{
	border-bottom: 0.04rem dashed #DB5353;
}
.sixyuan>li:nth-child(2) p{
	color: #fff;
}
.sixyuan>li:nth-child(2)>span{
	color: #DB5353;
}
.sixyuan>li:nth-child(3) .left{
	background: url('../img/quanzhan/green.png') center center no-repeat;
	background-size: cover;
	animation-name: animation1;
	animation-duration: 2s;
	animation-timing-function:linear;
	animation-iteration-count: infinite;
}
.sixyuan>li:nth-child(3) .xian{
	border-bottom: 0.04rem dashed #83C086;
}
.sixyuan>li:nth-child(3) p{
	color: #fff;
}
.sixyuan>li:nth-child(3)>span{
	color: #83C086;
}
.sixyuan>li:nth-child(4) .left{
	background: url('../img/quanzhan/blue.png') center center no-repeat;
	background-size: cover;
	animation-name: animation1;
	animation-duration: 2s;
	animation-timing-function:linear;
	animation-iteration-count: infinite;
}
.sixyuan>li:nth-child(4) .xian{
	border-bottom: 0.04rem dashed #24A1E4;
}
.sixyuan>li:nth-child(4) p{
	color: #fff;
}
.sixyuan>li:nth-child(4)>span{
	color: #24A1E4;
}
.sixyuan>li:nth-child(5) .left{
	background: url('../img/quanzhan/orange.png') center center no-repeat;
	background-size: cover;
	animation-name: animation1;
	animation-duration: 2s;
	animation-timing-function:linear;
	animation-iteration-count: infinite;
}
.sixyuan>li:nth-child(5) .xian{
	border-bottom: 0.04rem dashed #DCB74B;
}
.sixyuan>li:nth-child(5) p{
	color: #fff;
}
.sixyuan>li:nth-child(5)>span{
	color: #DCB74B;
}
.sixyuan>li:nth-child(6) .left{
	background: url('../img/quanzhan/pursle.png') center center no-repeat;
	background-size: cover;
	animation-name: animation1;
	animation-duration: 2s;
	animation-timing-function:linear;
	animation-iteration-count: infinite;
}
.sixyuan>li:nth-child(6) .xian{
	border-bottom: 0.04rem dashed #A86BAA;
}
.sixyuan>li:nth-child(6) p{
	color: #fff;
}
.sixyuan>li:nth-child(6)>span{
	color: #A86BAA;
}


/* foot */
.foot{
	width: 9rem;
	height: 7.2rem;
	margin: 0 auto;
	margin-top: 1rem;
}
.foot form>div{
	width: 7.8rem;
	height: 1.16rem;
	margin: 0.2rem auto;
}
.foot form>div>h5{
	color: #FF0000;
	float: left;
	font-size: 0.36rem;
	line-height: 0.6rem;
	margin-right: 0.15rem;
}
.foot form>div>h4{
	font-size: 0.36rem;
	color: #767676;
	float: left;
	font-weight: lighter;
}
.foot form>div .sou{
	width: 5.7rem;
	height: 1rem;
	float: left;
	background-image: url('../img/er/xk.png');
	background-position: 0 0;
	background-size: 5.7rem;
	background-repeat: no-repeat;
	margin-left: 0.5rem;
	margin-top: -0.2rem;
}
.foot form>div .sou>input{
	border: 0;
	outline: none;
	margin-left: 0.4rem;
	margin-top: 0.2rem;
	font-size: 0.36rem;
}
.foot form>div:nth-child(4)>h4{
	margin-left: 0.27rem;
}
.foot form>div:nth-child(4) select{
	border: none;
	outline: none;
	width: 5rem;
	margin-top: 0.1rem;
	font-size: 0.36rem;
	margin-left: 0.32rem;
	background: none;
	color:#767676;
}
.foot form>div:nth-child(4) select>option{
	border: 0;
	outline: 0;
	width: 10rem;
	font-size: 0.28rem;
	color:#333;
}
.foot form>input{
	background: 0;
	border: 0;
	display: block;
	width: 4.5rem;
	height: 1.27rem;
	margin: 0 auto;
	margin-top: 0.2rem;
	background-image: url('../img/quanzhan/qzanniu.png');
	background-position:0 0;
	background-size:contain;
	background-repeat: no-repeat;
	color: #fff;
	text-align: center;
	line-height: 1.27rem;
	font-size: 0.38rem;
}
/* 版权信息 */
.banquan{
	color: #A8A9AB;
	font-size: 0.36rem;
	text-align: center;
	line-height: 0.6rem;
	margin-bottom: 1.7rem;
}
/* footer */
footer{
	width: 100%;
	height: 1.4rem;
	background:#E7E7E7;
	position: fixed;
	bottom: 0;
	left: 0;
}
footer .center{
	width: 4.4rem;
	height: 1.4rem;
	background: #FF8D11;
	position: fixed;
	bottom: 0.1rem;
	left: 30%;
	border-radius: 6px;
	line-height: 1.4rem;
	box-shadow: 1px 1px 10px 0.5px #ccc;
}
footer .center h5{
	color: #fff;
	font-size: 0.40rem;
	text-align: center;
	line-height: 1.6rem;
}
footer .s1{
	width: 1.8rem;
	height:1.4rem;
	display: block;
	color: #666;
	font-size: 0.36rem;
	text-align: center;
	line-height:1.5rem; 
	position: fixed;
	bottom: 0;
	left: 0.8rem;
}
footer .s2{
	position: fixed;
	bottom: 0;
	left: 77%;
}
footer .qq{
	width: 0.65rem;
	height: 0.65rem;
	position: fixed;
	bottom: 0.35rem;
	left: 0.4rem;
	background-image: url('../img/qq.png');
	background-position:-0.1rem 0;
	background-size:cover;
	background-repeat: no-repeat;
}
footer .xin{
	width: 0.65rem;
	height: 0.65rem;
	position: fixed;
	bottom: 0.35rem;
	left: 73%;
	background-image: url('../img/beijing.png');
	background-position:-2.2rem -7.3rem;
	background-size:2.8rem;
	background-repeat: no-repeat;
}
footer .dian{
	width: 0.75rem;
	height: 0.75rem;
	position: fixed;
	bottom: 0.4rem;
	left: 35%;
	background-image: url('../img/beijing.png');
	background-position:-2rem -6.6rem;
	background-size:2.8rem;
	background-repeat: no-repeat;
}





