/*
* @Author: Administrator
* @Date:   2017-04-07 21:18:49
* @Last Modified by:   Administrator
* @Last Modified time: 2017-04-10 14:40:46
*/
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
	-webkit-text-size-adjust:none;
}
*{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 12px;
	/* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
	/* -webkit-appearance: none; */
	/* -webkit-text-size-adjust:100%; */
	/* -webkit-user-select:none; */
	/* -webkit-overflow-scrolling:touch; */
	/* -webkit-transform: translate3d(0, 0, 0); */
	/* transform: translate3d(0, 0, 0); */
	-webkit-user-select:none;
	user-select:none;
	/* -webkit-tap-highlight-color:rgba(255,255,255,0); */
	-webkit-text-size-adjust: 100%;
  	 text-size-adjust: 100%;
	
}
 body{
 	font-family:Helvetica;
 	background: #F5F6FA;
 }
 html,body{
 	width: 100%;
 	height: 100%;
 	overflow: hidden;
 }
 body{
 	overflow: scroll;
 }
 .header{
	width:100%;
	height: 4.5rem;
	width:auto;
	background-image: url('../img/banner_02.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	margin-top: 1.22rem;
}
.header nav{
	width: 100%;
	height: 1.22rem;
	background: #36BBFE;
	position:absolute;
	top: 0 ;
	left: 0;
	z-index: 100;
}
.header nav .f{
	width: 7.9rem;
	height: 0.96rem;
	background: #fff;
	border-radius: 4px;
	position: fixed;
	top: 0.12rem;
	left: 0.3rem;
}
.header nav .f form input{
	outline: none;
	border: none;
	width: 7.5rem;
	color: #A9A9A9;
	margin-top: 0.27rem;
	margin-left: 0.2rem;
	font-size: 0.36rem;
}
.header nav .icon{
	width: 1.05rem;
	height: 0.93rem;
	position: fixed;
	top: 0.12rem;
	right: 2.8rem;
	background-image: url('../img/icon.png');
	background-size: 3rem;
	background-position:0.2rem 0.15rem;
	background-repeat: no-repeat;
}
.header nav .gei{
	width: 2rem;
	height: 0.87rem;
	background: #03159B;
	position: fixed;
	top: 0.16rem;
	right: 0.3rem;
	border-radius: 5px;
	text-align: center;

}
.header nav .gei>span{
	font-size: 0.36rem;
	color: #fff;
	line-height: 0.87rem;
	letter-spacing: 0.04rem;
}


.title{
	width: 100%;
	height: 1.28rem;
	padding: 0 0.7rem;
	box-sizing: border-box;
	line-height: 1.28rem;
	font-size: 0.40rem;
	color: #484647;
	font-weight:bold; 
	position: relative;
}
.center .title>span{
	display: block;
	height: 0;
	border-right-width: 0;
	border-top: 0.25rem solid #01B5FF;
	border-right: 0.25rem solid rgba(0, 0, 0, 0.0);
	border-left: 0.25rem solid rgba(0, 0, 0, 0.0);
	position: absolute;
	top: 1.15rem;
	left: 1.4rem;
}
.title>div{
	width: 0.35rem;
	height: 0.35rem;
	background: url('../img/teacher/jian.png') center center no-repeat;
	background-size: cover;
	position: absolute;
	top: 0.4rem;
	left:1.57rem;
	z-index: 100;
}
/* 中间的信息 */
.center{
	width: 10.02rem;
	height: 23.7rem;
	margin: 0 auto;
	background: #fff;
}
.center .title{
	width: 9.44rem;
	height: 1.2rem;
	border: 0;
	border-radius: 4px;
	border: 0.03rem solid #01B5FF;
	position: relative;
	display: flex;
	margin: 0 auto;
}
.center .title>span{
	display: block;
	height: 0;
	border-right-width: 0;
	border-top: 0.25rem solid #01B5FF;
	border-right: 0.25rem solid rgba(0, 0, 0, 0.0);
	border-left: 0.25rem solid rgba(0, 0, 0, 0.0);
	position: absolute;
	top: 1.15rem;
	left: 1.4rem;
}
.center .title>p{
	width: 3.1rem;
	height: 1.2rem;
	border-radius: 4px;
	text-align: center;
	font-size: 0.42rem;
	font-weight: normal;
}
.center .title .left{
	height: 1.15rem;
	background: #01B5FF;
	position: absolute;
	top: -0.2rem;
	left: 0rem;
	color: #fff;
	line-height: 1.2rem;
	text-align: center;
}
.center .title .center{
	height: 1rem;
	position: absolute;
	top: -0.1rem;
	left: 3.2rem;
	color: #111111;
	line-height: 1rem;
}
.center .title .right{
	height: 1rem;
	position: absolute;
	top: -0.1rem;
	left: 6rem;
	color: #111111;
	line-height: 1rem;
}
/* .center .top{
	width: 9.39rem;
	height: 1.16rem;
	border: 0.04rem solid #01B5FF;
	border-radius: 5px;
	margin: 0rem auto;
} */
.center>li{
	width: 9.39rem;
	height: 3.14rem;
	margin-top: 0.1rem;
}
.center>li>h1{
	font-size: 0.46rem;
	color: #343434;
	margin: 0 auto;
	padding: 0 0.2rem 0 0.4rem; 
	box-sizing: border-box;
	margin-top: 0.2rem;
}
.center>li>p{
	font-size: 0.38rem;
	color: #717171;
	margin: 0 auto;
	padding: 0 0 0 0.4rem;
	box-sizing: border-box;
	margin-top: 0.2rem;
}
.center>li>a{
	width: 9rem;
	margin: 0 auto;
	display: block;
	text-align: center;
	font-size: 0.46rem;
	color: #FF8A00;
	margin-top: 0.46rem;
	border-bottom: 0.04rem solid #B8B8B8;
	padding: 0 0 0.3rem 0rem;
	box-sizing: border-box;
}
.center .l2{
	position: relative;
}
.center .l2>span:nth-child(1){
	display: block;
	width: 0.06rem;
	height: 0.35rem;
	background: #08B5F7;
	position: absolute;
	top: 0.7rem;
	left: 0.2rem;
}
.center .l2>span:nth-child(2){
	display: block;
	width: 0.35rem;
	height: 0.35rem;
	background: url('../img/problem/p1.png') center center no-repeat;
	background-size: cover;
	position: absolute;
	top: 1.4rem;
	left: 0.1rem;
}
.center .l3{
	margin-top: 0.8rem;
}











.center .foot{
	width: 9.62rem;
	height: 1.33rem;
	margin: 1.8rem auto;
	position: relative;
	border:0;
}
.center .foot>div:nth-child(1){
	width: 0.74rem;
	height: 0.74rem;
	position: absolute;
	left: 0.2rem;
	top: 0;
	background: url('../img/teacher/b1.png') center center no-repeat;
	background-size: contain;
}
.center .foot>div:nth-child(2){
	width: 2.14rem;
	height: 0.74rem;
	position: absolute;
	left: 1.1rem;
	top: 0;
	background: url('../img/teacher/b2.png') center center no-repeat;
	background-size: contain;
}
.center .foot>div:nth-child(3){
	width: 2.14rem;
	height: 0.74rem;
	position: absolute;
	left: 5.8rem;
	top: 0;
	background: url('../img/teacher/b3.png') center center no-repeat;
	background-size: contain;
}
.center .foot>div:nth-child(4){
	width: 2.14rem;
	height: 0.74rem;
	position: absolute;
	left: 7.6rem;
	top: 0.02rem;
	background: url('../img/teacher/b4.png') center center no-repeat;
	background-size: contain;
}
.center .foot .f{
	width: 2.02rem;
	height: 0.68rem;
	border-radius: 20px;
	border: 0.03rem solid #646464;
	position: absolute;
	left: 3.47rem;
	top: -0.14rem;
	line-height: 0.6rem;
	font-size: 0.36rem;
	color:#646464;
}



/* 版权信息 */
.banquan{
	color: #A8A9AB;
	font-size: 0.36rem;
	text-align: center;
	line-height: 0.6rem;
	margin-bottom: 1.7rem;
	margin-top: 0.2rem;
}












footer{
	width: 100%;
	height: 1.4rem;
	background:#E7E7E7;
	position: fixed;
	bottom: 0;
	left: 0;
}
footer .center{
	width: 4.4rem;
	height: 1.4rem;
	background: #FF8D11;
	position: fixed;
	bottom: 0.1rem;
	left: 30%;
	border-radius: 6px;
	line-height: 1.4rem;
	box-shadow: 1px 1px 10px 0.5px #ccc;
}
footer .center h5{
	color: #fff;
	font-size: 0.42rem;
	text-align: center;
	line-height: 1.6rem;
}
footer .s1{
	width: 1.8rem;
	height:1.4rem;
	display: block;
	color: #666;
	font-size: 0.36rem;
	text-align: center;
	line-height:1.5rem; 
	position: fixed;
	bottom: 0;
	left: 0.8rem;
}
footer .s2{
	position: fixed;
	bottom: 0;
	left: 77%;
}
footer .qq{
	width: 0.65rem;
	height: 0.65rem;
	position: fixed;
	bottom: 0.35rem;
	left: 0.4rem;
	background-image: url('../img/qq.png');
	background-position:-0.1rem 0;
	background-size:cover;
	background-repeat: no-repeat;
}
footer .xin{
	width: 0.65rem;
	height: 0.65rem;
	position: fixed;
	bottom: 0.40rem;
	left: 73%;
	background-image: url('../img/beijing.png');
	background-position:-2.2rem -7.3rem;
	background-size:2.8rem;
	background-repeat: no-repeat;
}
footer .dian{
	width: 0.75rem;
	height: 0.75rem;
	position: fixed;
	bottom: 0.43rem;
	left: 35%;
	background-image: url('../img/beijing.png');
	background-position:-2rem -6.6rem;
	background-size:2.8rem;
	background-repeat: no-repeat;
}